.generalInfo {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	background-color: #EDF2EC;

	@include mediaTablet {
		display: flex;
		flex-direction: row-reverse;
	}
	

	&__image {
		padding: 0 0 25px 25px;
		width: 100%;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 25px;
	}

	&__title {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 700;
		font-size: 45px;
		line-height: 50px;
		color:#717171;
	}

	&__titleGreen {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 700;
		font-size: 45px;
		line-height: 50px;
		color:#499A18;
	}

	&__subtitle {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 35px;
		color:#636060;
	}

	&__btn {
		width: 150px;
		height: 45px;
		border-radius: 10px;
		border: 2px solid #E06733;
		:hover {
			cursor: pointer;
			color:#636060;
		}
	}

	&__btn-text {
		font-family: $fontInter;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color:#000000;
		display: contents;
	}

};
