.container {
    width: 1200px;
    background-color:#EDF2EC;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navStart {
    display: flex;
    align-items:center;

    &__icon {
        height: 40%;
    }

    &__name {
        font-family: $fontInika;
        font-style: Regular;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
    }
}

.nav-list {
    display: flex;
    font-family: $fontInika;
    color: black;
    font-style: Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    :hover {
        color: #c43025;
    }
}
.nav__item {
    padding: 45px;
}

