.prices {
	width: 1200px;
	margin: 0 auto;

	&-help {
		margin: 30px;

		&__title {
			font-family: $fontInter;
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 50px;
			text-align: right;
			color: #000000;
		}
	}
	

	&__allInfo {
		display: flex;
		justify-content: space-between;
	}
	&-info {
		display: flex;
		flex-direction: column;
		margin: 30px;

		&__btn {
			width: 100px;
			border: none;
			border-radius: 20px;
			font-family: $fontInter;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #717171;
			cursor: pointer;
		}

		&__prices {
			border: 1px solid #E3E1D5;
			border-radius: 20px;
		}

		&__text-input {
			font-family: $fontInter;
			font-weight: 300;
			font-size: 10px;
			line-height: 10px;
		}

		&__price {
			font-family: $fontInter;
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 20px;
			color: rgba(0, 0, 0, 1);
		}

		&__priceOrange {
			font-family: $fontInter;
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 20px;
			color: #E06733;
		}
		&__title {
			font-family: $fontInter;
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 48px;
			color: #000000;
			text-transform: capitalize;
		}
	}
}
.prices-info__list {
	position: relative;
	color: #192430;
}
.prices-info__item {
	box-sizing: border-box;
    border-left: 8px solid #a2adb6;
    padding: 10px 0 10px 15px;
}

.prices-info__title {
	box-sizing: border-box;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

.prices-info__body {
	font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

.prices-info__accordion {
	background-color: #EDF2EC;
	color: #000000;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	transition: 0.4s;
	font-family: $fontInter;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	border-radius: 25px
	
  }
  
  .active, .prices-info__accordion:hover {
	background-color: #EDF2EC; 
  }
  
  .panel {
	padding: 0 18px;
	// display: none;
	overflow: hidden;
	background-color: #D6E7D2;
	margin: 15px;
	border-radius:25px;
	width: 350px;
	height: 130px;

  }

  .accordion__basics {
	width: 400px;
	border: 1px solid #EDF2EC;
	margin: 20px;
	border: none;
  }

  .accordion__standart {
	width: 400px;
	border: 1px solid #EDF2EC;
	margin: 20px;
	border: none;
  }

  .accordion__pro {
	width: 400px;
	border: 1px solid #EDF2EC;
	margin: 20px;
	border: none;
  }


  .prices-info__separator {
    border: 0.5px solid #AEA1A1;
	margin: 15px;
}

.prices-help {
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	&__btn {
		
		border: 1px solid #E06733;
		border-radius: 5px;
		background-color: white;
		width: 150px;
		height: 50px;
		font-family: $fontInika;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		color: #E06733;
		cursor: pointer;
	}

&__title {
	font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}
}

.praces-help__titleGreen {
	font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: rgba(73, 154, 24, 1);
}





