@import './styles/fonts';
@import './styles/vars';
@import './styles/abjusments';

// components
@import "./styles/blocks/header";
@import "./styles/blocks/generalInfo";
@import "./styles/blocks/aboutUs";
@import "./styles/blocks/service";


