@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.container {
  width: 1200px;
  background-color: #EDF2EC;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .nav {
    padding: 40px;
  }
}

.navStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navStart__icon {
  height: 40%;
}
.navStart__name {
  font-family: "Inika", sans-serif;
  font-style: Regular;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inika", sans-serif;
  color: #010201;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.nav-list :hover {
  color: #c43025;
}

.nav__item {
  padding: 45px;
}

.generalInfo {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EDF2EC;
}
@media screen and (max-width: 1199px) {
  .generalInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.generalInfo__image {
  padding: 0 0 25px 25px;
  width: 100%;
}
.generalInfo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
}
@media screen and (max-width: 1199px) {
  .generalInfo__text {
    margin: 40px;
  }
}
.generalInfo__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
@media screen and (max-width: 1199px) {
  .generalInfo__title {
    width: 450px;
  }
}
.generalInfo__titleGreen {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #499A18;
}
.generalInfo__subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}
@media screen and (max-width: 1199px) {
  .generalInfo__subtitle {
    width: 350px;
  }
}
.generalInfo__btn {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #E06733;
}
.generalInfo__btn :hover {
  cursor: pointer;
  color: #636060;
}
.generalInfo__btn-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  display: contents;
}

.aboutUs {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.aboutUs-info {
  margin: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 70px;
}
@media screen and (max-width: 1199px) {
  .aboutUs-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.aboutUs-info__title {
  font-family: "Inika", sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
@media screen and (max-width: 1199px) {
  .aboutUs-info__title {
    width: 550px;
    text-align: center;
  }
}
.aboutUs-info__titleOrange {
  font-family: "Inika", sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: #E06733;
}
.aboutUs-info__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}
@media screen and (max-width: 1199px) {
  .aboutUs-info__subtitle {
    padding: 0 100px;
  }
}
.aboutUs-info__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .aboutUs-info__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0;
  }
}
@media screen and (max-width: 1199px) {
  .aboutUs-info__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0;
  }
}

.service {
  width: 1200px;
  margin: 0 auto;
  background-color: #EDF2EC;
  padding: 50px 20px;
}
@media screen and (max-width: 1199px) {
  .service {
    padding: 10px 25px;
  }
}
.service-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .service-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.service-name__title {
  padding: 45px;
  font-family: "Inika", sans-serif;
  font-size: 40px;
  color: #499A18;
  width: 40%;
}
@media screen and (max-width: 1199px) {
  .service-name__title {
    padding: 0 45px 0 0;
  }
}
.service-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
@media screen and (max-width: 1199px) {
  .service-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 45px;
  }
}
.service-image__firstBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 35px;
}
.service-image__secondBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.service-image__gardenCare-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  color: #E06733;
  text-align: center;
}
.service-image__gardenCare-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #717171;
  text-align: center;
}
.service-image__gardenCare {
  display: block;
}
.service-image__gardenCare-item {
  padding: 0 0 40px;
}
.service-image__info {
  border: 1px solid #E3E1D5;
  border-radius: 0 0 15px 15px;
  display: inline-block;
  width: 330px;
}
.service-image__planting {
  display: block;
}
.service-image__planting-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  color: #E06733;
  text-align: center;
}
.service-image__planting-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #717171;
  text-align: center;
}
.service-image__planting {
  display: block;
}
.service-image__planting-item {
  padding: 0 0 40px;
}
.service-image__planting-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  color: #E06733;
  text-align: center;
}
.service-image__planting-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #717171;
  text-align: center;
}
.service-image__lawnCare {
  display: block;
}
.service-image__lawnCare-item {
  padding: 0 0 40px;
}
.service-image__lawnCare-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  color: #E06733;
  text-align: center;
}
.service-image__lawnCare-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #717171;
  text-align: center;
}
.service-image__plantingFlowers {
  display: block;
}
.service-image__plantingFlowers-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  color: #E06733;
  text-align: center;
}
.service-image__plantingFlowers-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #717171;
  text-align: center;
}
.service-image__gardenCareCactus {
  display: block;
}
.service-image__gardenCareCactus-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  color: #E06733;
  text-align: center;
}
.service-image__gardenCareCactus-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #717171;
  text-align: center;
}
.service-image__plantingCactus {
  display: block;
}
.service-image__plantingCactus-title {
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 20px;
  color: #E06733;
  text-align: center;
}
.service-image__plantingCactus-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #717171;
  text-align: center;
}

.btn__gardens {
  margin: 20px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #E06733;
  color: #E06733;
  cursor: pointer;
}

.btn__gardens:hover {
  background-color: #ddcdc6;
  color: #636060;
}

.btn__lawn {
  margin: 20px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #E06733;
  color: #E06733;
  cursor: pointer;
}

.btn__lawn:hover {
  background-color: #ddcdc6;
  color: #636060;
}

.btn__planting {
  margin: 20px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #E06733;
  color: #E06733;
  cursor: pointer;
}

.btn__planting:hover {
  background-color: #ddcdc6;
  color: #636060;
}

.prices {
  width: 1200px;
  margin: 0 auto;
}
.prices-help {
  margin: 30px;
}
.prices-help__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}
.prices__allInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}
.prices-info__btn {
  width: 100px;
  border: none;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  cursor: pointer;
}
.prices-info__prices {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
.prices-info__text-input {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
}
.prices-info__price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(0, 0, 0);
}
.prices-info__priceOrange {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #E06733;
}
.prices-info__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  text-transform: capitalize;
}

.prices-info__list {
  position: relative;
  color: #192430;
}

.prices-info__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 8px solid #a2adb6;
  padding: 10px 0 10px 15px;
}

.prices-info__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}

.prices-info__body {
  font-size: 16px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.prices-info__accordion {
  background-color: #EDF2EC;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  border-radius: 25px;
}

.active, .prices-info__accordion:hover {
  background-color: #EDF2EC;
}

.panel {
  padding: 0 18px;
  overflow: hidden;
  background-color: #D6E7D2;
  margin: 15px;
  border-radius: 25px;
  width: 350px;
  height: 130px;
}

.accordion__basics {
  width: 400px;
  border: 1px solid #EDF2EC;
  margin: 20px;
  border: none;
}

.accordion__standart {
  width: 400px;
  border: 1px solid #EDF2EC;
  margin: 20px;
  border: none;
}

.accordion__pro {
  width: 400px;
  border: 1px solid #EDF2EC;
  margin: 20px;
  border: none;
}

.prices-info__separator {
  border: 0.5px solid #AEA1A1;
  margin: 15px;
}

.prices-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prices-help__btn {
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  height: 50px;
  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  cursor: pointer;
}
.prices-help__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

.praces-help__titleGreen {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: rgb(73, 154, 24);
}

.contact {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EDF2EC;
}
.contact__image {
  padding: 80px 80px 0;
}
.contact__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__city-select {
  padding-left: 150px;
}
.contact__city-selectId {
  height: 40px;
  width: 450px;
  background-color: #D6E7D2;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: regular;
  font-size: 20px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #717171;
}
.contact__city-name {
  margin-top: 85px;
  font-family: "Inika", sans-serif;
  font-style: bold;
  font-size: 40px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #499A18;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 1200px;
  margin: 0 auto;
}
.footer__yearInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  font-style: regular;
  font-size: 20px;
  color: #000000;
}
.footer__copywriter {
  padding: 15px;
}
.footer__year {
  padding: 15px;
}
.footer__school {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
  font-style: regular;
  font-size: 20px;
  color: #000000;
}
.footer__mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__mess-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__mess-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}/*# sourceMappingURL=main.css.map */